body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #dfdbc3;
  color: #993322;
}

ol, ul {
  padding-left: 30px;
}

/* .game-board {
  display: flex;
  flex-direction: column-reverse;
} */



/* must be here for rows to remain as rows */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(94, 89, 86);
  /* border: 0px solid #999; */
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  /* margin-right: -1px;
  margin-top: 0px; */
  padding: 0;
  text-align: center;
  width: 100px;
}

/* .square:focus {
  outline: none;
} */

/* .kbd-navigation .square:focus {
  background: #ddd;
} */

/* .game {
  display: flex;
  flex-direction: column;
} */

/* .game-info {
  margin-left: 20px;
} */

