body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #dfdbc3;
  color: #993322;
}

ol, ul {
  padding-left: 30px;
}

/* .game-board {
  display: flex;
  flex-direction: column-reverse;
} */



/* must be here for rows to remain as rows */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(235, 223, 216);
  /* border: 0px solid #999; */
  /* float: left; */
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 0%;
  margin-top: 0%;
  padding: 0%;
  /* text-align: right; */
  width: 100px;
}
.square p {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #993322;
  margin: 0;
  position: relative;
  top: -35%;
  left: 25%;
}
/* .square:focus {
  outline: none;
} */

/* .kbd-navigation .square:focus {
  background: #ddd;
} */

/* .game {
  display: flex;
  flex-direction: column;
} */

/* .game-info {
  margin-left: 20px;
} */

